body{
    background-image: url(https://essentia.com.br/wp-content/uploads/2017/08/E_PHARMA-02-home-BN-mapa-2-otimizado.png);
    background-repeat: space;
}

.jumbotron{
    background: transparent;
}