.box {
    border:3px solid #ddd;
    padding:10px;
    display:flex;
    justify-content: space-around;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image{
    background-repeat: no-repeat;
    border-radius: 9999999px;
    height:100px;
    width: 100px;
    background-position: center;
    background-size: cover;
}
